.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; 
}

.card {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #a29a9a; 
}

.logo {
  width: 150px;
  margin-bottom: 20px;
  background-color: #a29a9a;
  margin-right: 40%;
}

label {
  margin-top: 10px;
  font-weight: bold;
  display: block;
}

input {
  width: 70%;
  height: 15%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: start;
}
.user{
  margin-right: 200px;
}
.password-container {
  position: relative;
  
}

.show-password-checkbox {
  /* margin-top: 10px; */
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -24%;
  margin-top: -2%;
}

.show-password-checkbox input {
  margin-top: 2px;
}
.show{
  margin-left: -33%;
  margin-top: -3%;
}
button {
  width: 70%;
  padding: 10px;
  background-color: #ab1ec1;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link p {
  margin-bottom: 10px;
}

.signup-link a {
  color: #690a7e;
  text-decoration: none;
}
.show-password-checkbox {
  display: flex;
  align-items: center; 
}

.show-password-checkbox input {
  margin-left: 5px; 
}  */